Assignment-4/Data 2.zip
Assignment-4/Data 2/
Assignment-4/Transcript/
Assignment-4/mitt/
Assignment-4/vald data/

Assignment-3/data
Assignment-2/machine_data-1.csv
assignment-2-report-with-code.pdf
Assignment-3-report-with-code.pdf
Assignment-4.pdf